 .main{
	 border: 2px solid grey;
	 width: 200px;
	 margin:0 auto;
 }
	.result{ width: 95%;
		background-color: #eaedef;
	color: black;

	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
 }
 .clearbtn{
	 width: 100%;
	
	 margin: 1px;
	 background-color: #eaedef;

	 border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
 }
 .btn{
	 width: 45px;
	 margin: 1px;
	 background-color: #eaedef;

	 border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
 }
 .halfbtn{
	background-color: #eaedef;
	 width: 97px;
	 margin-top:5px;
	 border-radius: 50%;
	 border-width: 0;
	 font-weight: bold;
	 font-size: 15px;
 }
 body{
	
	background-color: black;
}